#battleshipContainer{
  background-image: url("../img/portfolio/battleship-background.jpg");
  background-size: cover;
  background-position: bottom;
}

#battleshipJumbotron{
  background-image: url("../img/portfolio/battleship-jumbotron.jpg");
  background-size: cover;
  background-position: bottom;
  color: #552300;
}

#battleshipContainer input{
  color: black;
}

.boardCell{
  background-color: #00a7be;
  border-color: black;
}

.boardCell:hover{
  background-color: #d2faff;
}

.hitByTorpedo{
  background-color: #d2faff;
}

.hitByTorpedo:hover{
  background-color: #d2faff;
}

.showShip{
  background-color: #654321;
}

.showShip:hover{
  background-color: #654321;
}

.showShip.hitByTorpedo{
  background-color: orange;
}

.sunkShip.showShip.hitByTorpedo{
  background-color: #9a2511;
}

.torpedoCell{
  background-color: #9a2511;
  border-color: black;
}

.spentTorpedo{
  background-color: #d2faff
}
