.boardCell{
  background-color: darkblue;
  border-color: black;
}

.boardCell:hover{
  background-color: white;
}

.hitByTorpedo{
  background-color: white;
}

.hitByTorpedo:hover{
  background-color: white;
}

.showShip{
  background-color: darkgray;
}

.showShip:hover{
  background-color: darkgray;
}

.showShip.hitByTorpedo{
  background-color: yellow;
}

.sunkShip.showShip.hitByTorpedo{
  background-color: red;
}

.torpedoCell{
  background-color: red;
  border-color: black;
}

.spentTorpedo{
  background-color: white
}
