#headerGameTable td {
  border-style: solid;
  border-color: gray;
  border-width: 1px;
}

#headerGameTable td:hover{
  background-color: #fed136;
}

#headerGameTable .cellAlive{
  background-color: #fed136;
}

#headerGameTable .cellAlive:hover{
  background-color: #fed136;
}

#headerGameControls{
  margin-left: 50px;
  z-index: 0;
}

#headerGameTable .table{
  margin-bottom: 0px;
}

#headerGameTable {
  margin-top: 100px;
  position: absolute;
  min-height: .01%;
  overflow-x: hidden;
}

#headerGameTable{
}

@media screen and (max-width: 768px) {
  #headerGameTable {
    margin-top: 50px;
    position: absolute;
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 0px solid #ddd;
  }

  #headerGameTable{
  }
}
