#battleshipContainer{
  background-image: url("../img/portfolio/space-background.jpg");
  background-size: cover;
  background-position: top;
  color: white;
}

#battleshipJumbotron{
  background-image: url("../img/portfolio/space-jumbotron.jpg");
  background-size: cover;
  background-position: bottom;
  color: white;
}

#battleshipContainer input{
  color: black;
}

.boardCell{
  background-color: #2B3E42;
  border-color: darkgreen;
}

.boardCell:hover{
  background-color: #747E80;
}

.hitByTorpedo{
  background-color: #747E80;
}

.hitByTorpedo:hover{
  background-color: #747E80;
}

.showShip{
  background-color: #D5E1DD;
}

.showShip:hover{
  background-color: #D5E1DD;
}

.showShip.hitByTorpedo{
  background-color: #77BED2;
}

.sunkShip.showShip.hitByTorpedo{
  background-color: #F2583E;
}

.torpedoCell{
  background-color: #F2583E;
  border-color: black;
}

.spentTorpedo{
  background-color: #747E80
}
